{% extends 'AppTienda/base.html' %}
{% load static %}
{% block contenido %}

<link href="{% static '/css/pedido.css' %}" rel="stylesheet">

<div class="container mt-5 d-flex justify-content-center">
  <div class="card p-4 mt-3">
     <div class="first d-flex justify-content-between align-items-center mb-3">
       <div class="info">
           <span class="d-block name">Pedido Nro: #{{ pedido.id }}</span>           
       </div>
      
        <img src="https://i.imgur.com/NiAVkEw.png" width="40"/>
         

     </div>
         <div class="detail">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th><center>Producto</center></th>
                <th><center>Cantidad</center></th>
              </tr>
            </thead>
            <tbody>
              {% for articulo in articulos %}
              <tr>
                <td>{{ articulo.producto }}</td>
                <td><center>{{ articulo.cantidad }}</center></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
         </div>
     <hr>
     <div class="text">
   <span class="d-block new mb-1" >{{user.first_name}} {{user.last_name}}</span>
    </div>

    {% if pedido.tipo_retiro == 'D' %}
   <span class="d-block address mb-3">Tipo de pedido: Envío a domicilio <br> {{ pedido.direccion_envio }}</span>
   {% elif pedido.tipo_retiro == 'R' %}
   <span class="d-block address mb-3">Tipo de pedido: Retiro en sucursal</span>
   {% endif %}
     <div class="  money d-flex flex-row mt-2 align-items-center">
       {% comment %} <img src="https://i.imgur.com/ppwgjMU.png" width="20" /> {% endcomment %}
   
       {% comment %} <span class="ml-2">Cash on Delivery</span>  {% endcomment %}

          </div>

        <a class="address-line" href="{% url 'pedidos' %}">VOLVER A PEDIDOS</a>

   </div>
</div>

{% comment %} <h1>Detalle del pedido #{{ pedido.id }}</h1>
<table>
  <thead>
    <tr>
      <th>Nombre del articulo</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    {% for articulo in articulos %}
    <tr>
      <td>{{ articulo.producto }}</td>
      <td>{{ articulo.cantidad }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> {% endcomment %}

{% endblock contenido %}